<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
		  name="viewport">
	<title>多人聊天室</title>
	<link rel="stylesheet" type="text/css" href="./style.css"/>
	<!--[if lt IE 8]>
	<script src="./json3.min.js"></script><![endif]-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://lib.baomitu.com/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
	<div id="app">
		<div id="loginbox" v-if="!hasLogin">
			<div style="width:260px;margin:200px auto;">
				请先输入你在聊天室的昵称
				<br/>
				<br/>
				<input type="text" style="width:180px;" placeholder="请输入用户名" v-model="inputUserName" @keyup.enter="doLogin()"/>
				<input type="button" style="width:50px;" value="提交" @click="doLogin()"/>
			</div>
		</div>
		<div id="chatbox" v-if="hasLogin">
			<div ref="chatTop" class="chat-top">
				<div>
					<span style="text-align:left;margin-left:10px;">Websocket多人聊天室 共 {{onlineCount}} 人在线</span>
					<span style="float:right; margin-right:10px;"><span>{{userName}}</span> |
                    <a href="javascript:;" @click="doLogout()" style="color:#fff;">退出</a></span>
				</div>
			</div>
			<div ref="msgBox" id="message" class="message" :style="{'height': msgBoxHeight + 'px'}" v-html="msgContent"></div>
			<div ref="inputBox" class="input-box">
				<div class="input">
					<input type="text" maxlength="140" placeholder="请输入聊天内容，按Ctrl发送" v-model="inputText" @keyup.enter="doSubmit()">
				</div>
				<div class="action">
					<button type="button" @click="doSubmit()">发送</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./client.js"></script>
</body>
</html>

